h1 {
  text-align: center;
  color: #3A313B;
  font-size: 30px;
  font-family:serif;
  margin: 5%;  
}

body {
  background: #F7E1FA;
  margin: 10%;
}

li {
  color: #3A313B;
  line-height: 200%; 
}

img {
  width: 40%;
}